* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: monospace;
  background-color: rgba(0, 204, 204, 0.6);
}
header h1 {
  margin: 15px;
  padding: 5px;
  font-size: 60px;
}
.btn {
  border: 2px solid #add59a;
  margin: 10px auto;
  padding: 5px;
  font-family: inherit;
  background: radial-gradient(#e8f7ee, #e8f7ee, #ffcc99);
}
select {
  margin: 10px auto;
  padding: 5px;
  font-family: inherit;
  background: radial-gradient(#e8f7ee, #e8f7ee, #ffcc99);
  border: 2px SOLID #add59a;
}
select:focus {
  border: 2px solid #00a6a6;
}
p {
  margin: 10px auto;
  padding: 5px;
  font-family: inherit;
  border: 2px SOLID #add59a;
  background: radial-gradient(#e8f7ee, #e8f7ee, #ffcc99);
}
option {
  background: radial-gradient(#e8f7ee, #e8f7ee, #ffcc99);
  border: 2px solid #add59a;
}

body {
  min-height: 100vh;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  background-image: url(https://media.istockphoto.com/id/877763072/photo/vintage-recipe-box.jpg?s=612x612&w=0&k=20&c=vKX9nEqY4cDLy8RegWuFhk9ITMGdPmKygiPLDoxGT7Y=);
  background-repeat: no-repeat;
  background-size: 100%;
}
.mealDropDown {
  width: 200px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 80vw;
  min-height: fit-content;
}
.container:hover > .card {
  transform: rotateY(180deg);
}
.card {
  width: 100%;
  height: 100%;
  transition: transform 1500ms;
  position: relative;
  transform-style: preserve-3d;
}
.front,
.back {
  width: 100%;
  height: 100%;
  margin: 20px;
  padding: 10px;
  height: auto !important;
  border: 10px solid #e7b40d;
  border-radius: 5px;
  position: absolute;
  background: linear-gradient(#00a6a6, #add59a, #e8f7ee);
}
.front {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  backface-visibility: hidden;
}
.back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
li {
  display: flex;
  flex-direction: column;
}
