* {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: monospace;
  font-weight: bolder;
}
header h1 {
  margin: 15px;
  padding: 5px;
}
header .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn button {
  border: 2px solid #add59a;
  margin: 5px;
  padding: 2px;
  font-family: inherit;
  background: radial-gradient(#e8f7ee, #e8f7ee, #ffcc99);
}
.btn button:focus {
  border: 2px solid #00a6a6;
}
select {
  margin: 50px auto;
  padding: 5px;
  font-family: inherit;
  background: radial-gradient(#e8f7ee, #e8f7ee, #ffcc99);
  border: 2px SOLID #add59a;
}
select:focus {
  border: 2px solid #00a6a6;
}
option {
  background: radial-gradient(#e8f7ee, #e8f7ee, #ffcc99);
  border: 2px solid #add59a;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  background-image: url(https://media.istockphoto.com/id/877763072/photo/vintage-recipe-box.jpg?s=612x612&w=0&k=20&c=vKX9nEqY4cDLy8RegWuFhk9ITMGdPmKygiPLDoxGT7Y=);
  background-repeat: no-repeat;
  background-size: 100%;
}
#myElement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
  padding: 10px;
  border: 10px solid #e7b40d;
  border-radius: 5px;
  background: linear-gradient(#00a6a6, #add59a, #e8f7ee, #e8f7ee, #e8f7ee);
}
#divOn {
  visibility: hidden;
}
#divOff {
  visibility: visible;
}
/* .flipButton {
} */
